.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.btn_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  margin: 5pt;
  display: flex;
  margin-bottom: 20pt;
  height: auto;
  width: auto;
}

mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.title {
  font-family: "Monsieur";
  font-size: 56pt;
  color: cornflowerblue;
  margin: 25pt;
  flex-grow: 0;
}

.field_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.top_container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.canvas_container {
  display: flex;
  flex-direction: column;
}

.field {
  width: 450px;
  height: 250px;
  position: relative;
  display: flex;
  margin: 20pt;
  margin-top: 35pt;
}

.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
}

#cutoff {
  background-image: linear-gradient(
    to right,
    rgb(43, 55, 56),
    rgb(0, 242, 255)
  );
}

#reverb {
  background-image: linear-gradient(
    to right,
    rgb(39, 80, 39),
    rgb(37, 240, 172)
  );
}

#delay {
  background-image: linear-gradient(
    to right,
    rgb(12, 32, 70),
    rgb(129, 162, 224)
  );
}

#wahwah {
  background-image: linear-gradient(
    to right,
    rgb(153, 67, 10),
    rgb(241, 169, 35)
  );
  position: relative;
  margin-top: 60pt;
}

#overdrive {
  background-image: linear-gradient(
    to right,
    rgb(17, 7, 58),
    rgb(101, 42, 134)
  );
  position: relative;
  margin-top: 60pt;
}

.sub_overdrive {
  margin-right: 100pt;
}

.sub_wahwah {
  margin-left: 100pt;
}

.subtitle {
  color: aliceblue;
  text-align: center;
  font-size: 18pt;
  opacity: 50%;
}

.subtitle:hover {
  cursor: pointer;
}

.field_and_subtitle {
  display: flex;
  flex-direction: column;
}

#graph {
  background-color: black;
  width: 400pt;
  height: 100pt;
  margin-top: 0pt;
}

#graph_mirror {
  background-color: black;
  width: 400pt;
  height: 100pt;
  transform: scale(1, -1);
  filter: FlipV;
}
