<div class="container">
  <h1 class="title">S y n e s t h e z i a</h1>
  <canvas id="graph"> </canvas>
  <div class="field_container">
    <div>
      <div #delayField class="field" id="delay">
        <div
          #delayCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcDelay()"
        ></div>
      </div>
      <p class="subtitle">Delay</p>
    </div>
    <div>
      <div #cutoffField class="field" id="cutoff">
        <div
          #cutoffCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcCutoff()"
        ></div>
      </div>
      <p #cutoffTitle class="subtitle" (click)="activateCutoff()">Cutoff</p>
    </div>
    <div>
      <div class="field" id="reverb">
        <div class="cursor" cdkDragBoundary=".field" cdkDrag></div>
      </div>
      <p class="subtitle">Reverb</p>
    </div>
  </div>
  <div class="btn_container">
    <button class="btn" mat-raised-button color="primary" (click)="openInfo()">
      <mat-icon>info</mat-icon>
    </button>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>audio_file</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let file of audioFiles"
        (click)="chooseFile(file)"
      >
        {{ file.name }}
      </button>
    </mat-menu>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      (click)="openFileManager()"
    >
      <mat-icon>file_upload</mat-icon>
    </button>
    <button class="btn" mat-raised-button color="primary" (click)="recording()">
      <mat-icon>mic</mat-icon>
    </button>
    <button class="btn" mat-raised-button color="primary" (click)="play()">
      <mat-icon>play_circle</mat-icon>
    </button>
    <button class="btn" mat-icon-button color="primary">
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>
    <button class="btn" mat-icon-button color="primary">
      <mat-icon>file_download</mat-icon>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
