<div class="container">
  <h1 class="title">S y n e s t h e z i a</h1>
  <div class="top_container">
    <div class="sub_overdrive">
      <div #overdriveField class="field" id="overdrive">
        <div
          #overdriveCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcOverdrive()"
        ></div>
      </div>
      <p #overdriveTitle class="subtitle" (click)="activateOverdrive()">
        Overdrive
      </p>
    </div>
    <div class="canvas_container">
      <canvas id="graph"> </canvas>
      <canvas id="graph_mirror"></canvas>
    </div>
    <div class="sub_wahwah">
      <div #wahwahField class="field" id="wahwah">
        <div
          #wahwahCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcWahWah()"
        ></div>
      </div>
      <p #wahwahTitle class="subtitle" (click)="activateWahWah()">Space</p>
    </div>
  </div>
  <p class="chain">
    <span *ngIf="currentAudio != null">🎵</span> {{ entry_one }}
    {{ entry_two }} {{ entry_three }} {{ entry_four }} {{ entry_five }}
  </p>
  <div class="field_container">
    <div>
      <div #delayField class="field" id="delay">
        <div
          #delayCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcDelay()"
        ></div>
      </div>
      <p #delayTitle class="subtitle" (click)="activateDelay()">Delay</p>
    </div>
    <div>
      <div #cutoffField class="field" id="cutoff">
        <div
          #cutoffCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcCutoff()"
        ></div>
      </div>
      <p #cutoffTitle class="subtitle" (click)="activateCutoff()">Cutoff</p>
    </div>
    <div>
      <div #reverbField class="field" id="reverb">
        <div
          #reverbCursor
          class="cursor"
          cdkDragBoundary=".field"
          cdkDrag
          (mousemove)="calcReverb()"
        ></div>
      </div>
      <p #reverbTitle class="subtitle" (click)="activateReverb()">Reverb</p>
    </div>
  </div>
  <div class="btn_container">
    <button class="btn" mat-raised-button color="primary" (click)="openInfo()">
      <mat-icon>info</mat-icon>
    </button>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>audio_file</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let file of audioFiles"
        (click)="chooseFile(file)"
      >
        {{ file.name }}
      </button>
    </mat-menu>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      (click)="openFileManager()"
    >
      <mat-icon>file_upload</mat-icon>
    </button>
    <button class="btn" mat-raised-button color="primary" (click)="recording()">
      <mat-icon>mic</mat-icon>
    </button>
    <button class="btn" mat-raised-button color="primary" (click)="play()">
      <mat-icon *ngIf="isPlaying == false">play_circle</mat-icon>
      <mat-icon *ngIf="isPlaying == true">stop_circle</mat-icon>
    </button>
    <button
      class="btn"
      mat-icon-button
      color="primary"
      (click)="setupRecording()"
    >
      <mat-icon *ngIf="soundIsRecording == false"
        >radio_button_unchecked</mat-icon
      >
      <mat-icon *ngIf="soundIsRecording == true">radio_button_checked</mat-icon>
    </button>
    <button
      class="btn"
      mat-icon-button
      color="primary"
      [matMenuTriggerFor]="menu_two"
    >
      <mat-icon>file_download</mat-icon>
    </button>
    <mat-menu #menu_two="matMenu">
      <button
        mat-menu-item
        *ngFor="let file of downloadableFiles"
        (click)="downloadFile(file)"
      >
        {{ file.name }}
      </button>
    </mat-menu>
  </div>
</div>
<router-outlet></router-outlet>
