<div class="bg">
  <h1>Manual</h1>
  <p>
    Synesthezia is an audio effect playground to experiment and to create
    astonishing soundscapes.
  </p>
  <p></p>
  <p>
    First things first: Choose the sound you want to send through the effects by
    uploading your own sound file, by recording via microfone or by using one of
    the pre samples. Your uploaded and recordes sounds will be added to the
    "choose-sound-menu". Now get creative! Turn on the effects you want and tune
    them by moving the tempting black dots in the effect fields. Adding and
    removing of effects as well as adjusting of them can be done before playing
    as well as while playing. Push the play button (or the "p"-key) and enjoy.
    You can record the effect chain by activating the "record" button and
    afterwards pushing play. After you stopped playing the recorded effects will
    be avaiable under the "download"-menu as well as in your sound list, ready
    for more editing.
  </p>
  <p></p>
  <h2>Effects</h2>
  <p></p>
  <h3 class="delay">Delay</h3>
  <p>
    Horizontal: Delay-Rate from fast (left) to slow (right)<br />
    Vertical: Delay Feedback from long (bottom) to short (top)
  </p>
  <p></p>
  <h3 class="cutoff">Cutoff</h3>
  <p>
    Horizontal: Low-Cut from low (left) to high (right) frequencies<br />
    Vertical: High-Cut from low (bottom) to high (top) frequencies
  </p>
  <p></p>
  <h3 class="reverb">Reverb</h3>
  <p>
    Horizontal: Different impact <br />
    Vertical: Dry (bottom) / Wet (top)
  </p>

  <p></p>
  <h3 class="crash">Crash</h3>
  <p>Horizontal: Distortion from little (left) to much (right)</p>
  <p>Vertical: Bitcrush from much (bottom) to little (top)</p>
  <p></p>
  <h3 class="space">Space</h3>
  <p>Horizontal: Affects the frequency range to be swapped</p>
  <p>Vertical: De-/Increases the speed of the frequency swap</p>
  <p></p>
</div>
