@font-face {
  font-family: "Monsieur";
  src: url("./assets/MonsieurLaDoulaise-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Monsieur", sans-serif;
  margin: 0pt;
  padding: 0pt;
  background-color: black;
}
